
/*
 Styles used by the UI components in this package
*/
.windowControl {
  display:block; 
  float:right; 
  margin-top:-28px;
}
.X {
  float:right; 
  width: 18px; 
  height: 18px; 
  padding: 2px 0px 0px 2px;
  margin: 1px;
}
.container{
  width: 520px;
  height: 260px;
}

.outer {
  padding: 1em;
}
.msg {
  margin-top:0.5em;
  margin-bottom:0.5em;
}
.link {
  cursor: pointer;
}
.btn{
  margin:4px;
}

/*
  Standard Widget style overrides
  ---------------------------------------------------------
*/
.gwt-DialogBox .Caption {
  background: #88a4d6 url(images/gradient_bg_dark.png) repeat-x 0px -20px;
  padding: 4px 4px 4px 8px;
  border-top: 3px solid #888;
  border-right: 2px solid #888;
  border-bottom: 1px solid #888;
  border-left: 2px solid #888;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  
  -moz-border-radius: 8px 8px 0px 0px;
  -webkit-border-radius: 8px 8px 0px 0px;
  -khtml-border-radius: 8px 8px 0px 0px;
  border-radius: 8px 8px 0px 0px;
}
.gwt-DialogBox .dialogMiddleCenter {
  border-right: 2px solid #888;
  border-bottom: 2px solid #888;
  border-left: 2px solid #888;
}
.gwt-DialogBox .dialogTopLeftInner {
  width: 0px;
  height: 0px;
}
.gwt-DialogBox .dialogTopRightInner {
  width: 0px;
  height: 0px;
}
.gwt-DialogBox .dialogBottomLeftInner {
  width: 0px;
  height: 0px;
}
.gwt-DialogBox .dialogBottomRightInner {
  width: 0px;
  height: 0px;
}

.gwt-Anchor {
}
.gwt-Anchor:hover 
{
  color: #FF00FF;
  cursor: pointer;
  text-decoration:underline;      
}
