@charset "utf-8";
/* CSS Document */

/* THIS IS THE MENU 
---------------------------------------------------------*/

/* Overall Box Properties */
#menu {
	width: 100%;
	margin: 0;
	padding:0px 0px 0px 0px;
	border-bottom: 1px solid #FFFFFF;
	background-color: #82aa16;
	
	float: left;
}

/* Type of Menu (Vertical vs. Horizontal) */
#menu ul {
	display: block;
	list-style: none;
	margin: 0;
	float: left;
	padding: 0;
}

/* Position of menu elements */
#menu ul li {
	position: relative;
	color: #fff;
	display: inline;
	float: left;
	background-position: right top;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}

/* Edit look of 1st level menu items */
#menu ul li a {
	display: block;
	float: left;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 11px;
	padding:8px 40px 10px;
}
#menu  ul li.end  {
	background-image: none;
}

/* Added specifically for Internet Explorer */
* html #menu ul li a {
	padding:8px 50px 17px;
	}

/* Sometimes Needed to Change Internet Explorer Hover */
#menu ul li a:hover {
	color: #fff;
}

/* Position of Drop Down Elements */
#menu ul li ul {
	position: absolute;
	display: none;
}

/* Hover of the Main Menu */
#menu ul li:hover {
	position: relative;
	color: #fff;
}

/* Added specifically for Internet Explorer Hover */
#menu ul li:hover > a,
#menu li a:hover,
* html #menu li a:hover {
	color: #003399;
	padding-top: 8px;
	padding:8px 40px 10px;
	background-image: none;
}

/* For Top Level Hover when on the second level (I think) */
#menu ul li:hover ul {
	display: block;
	position: absolute;
	left: 0;
	top: 100%;
	width: 211px;
	height: auto;
	margin: 0;
	padding: 0;
	z-index: 2000;
	border-right: none;
	border-bottom: 1px solid #fff;
}

/* Added specifically for Internet Explorer */
* html #menu ul li:hover ul { 
	background: none; 
}

#menu ul li ul li,
#menu ul li.more ul li {
	width: 211px;
	padding: 0;
	background-color: #82aa16;
	background-image: none;
}

/* Edit look of drop down 2nd level menu items */
#menu ul li ul li a {
	background: none;
	padding: 8px 0px 8px 10px;
	width: 200px;
	font-variant: normal;
	font-weight: normal;
	font-size: 11px;
	color: #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-top: 1px solid #fff;
	float: none;
}

#menu ul li ul li:hover {
	background-color: #98c61c;
	background-image: none;
}

#menu ul li ul li a:hover {
	color: #fff;
	background: none;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	padding: 8px 0px 8px 10px;
}

#menu ul li ul li:hover > a {
	color: #003399;
	background: none;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	padding: 8px 0px 8px 10px;
}

#menu ul li ul li ul,
#menu ul li:hover ul li ul { 
	display: none; 
}

#menu ul li ul li:hover ul,
#menu li.exp:hover ul,
#menu ul li:hover ul li:hover ul {
	position: absolute;
	display: block;
	left: 100%;
	top: 0px;
	z-index: 300;
	border-right: none;
	width: 211px;
}

#menu ul li:hover ul li:hover ul li,
* html #menu ul li ul li a { 
	width: 211px; 
}

#menu ul li:hover ul li:hover ul li a {
}

/* THIS IS THE MENU */
