@charset "utf-8";

body {
	margin: 0px;
	padding: 0px;
	font-family: "Verdana", Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

body#bg {
  background: #f3f3f3;
}

img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

#center {
	width: 400px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 30px;
}

a {
	text-decoration: none;
	color: #FF6600;
	font-weight: normal;
}

a:hover {
	text-decoration: underline;
}

ol {
	list-style-type: upper-alpha;
}

ul {
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: bold;
}

li {
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: normal;
}

h1 {
	font-size: 17px;
	color: #334871;
	font-weight: 400;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

h2 {
	font-size: 15px;
	color: #334871;
	font-weight: 700;
}

p {
	text-align: justify;
	line-height: 18px;
}

/* Main document structure */
	
#wrapper {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

#header {
	width: 100%;
	float: left;
	padding-top: 10px;
	padding-bottom: 2px;
}

#logo {
	float: right;
}
#user {
	float: right;
	font-size: 11px;
	margin-top: 20px;
	padding: 10px 20px 20px 65px;
}

#content {
	font-size: 14px;
	clear: both;
}

#footer {
	color: #fff;
	background-color: #82b1ff;
	padding: 10px 15px 10px 100px;
	font-size: 10px;
	margin-top: 10px;
	height:2em;
}

#footer a {
	color: #fff;
}

#copyRight {
	float: right;
}














#photo {
	font-size: 1px;
}

#photo img {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
}


#links {
	color: #FFF;
	float: right;
	padding-right: 20px;
}

#links a {
	color: #FFF;
	padding-right: 5px;
	padding-left: 5px;
}

#footer a:hover {
	color: #b0c6f2;
}

#body {
	float: right;
	width: 628px;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 0px;
}

ul#readmore {
	padding: 0px;
	list-style-type: none;
	margin: 30px 0px 30px 0px;
}

li#readmore a {
	font-size: 9px;
	text-transform: uppercase;
	background-color: #8EB71D;
	padding: 5px;
	color: #FFFFFF;
	font-weight: bold;
}

li#readmore a:hover {
	background-color: #FF6600;
}

ul#demo {
	list-style-type: none;
}

ul#demo li {
	font-family: Arial, Helvetica, sans-serif;
	color: #7A9F15;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}

ul#demo .input {
	border: 2px solid #B1C47B;
	background-color: #FCFDF9;
	width: 230px;
	color: #FF6600;
	font-size: 12px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

ul#demo .multi {
	border: 2px solid #B1C47B;
	background-color: #FCFDF9;
	width: 400px;
	color: #FF6600;
	padding: 2px;
	height: 100px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#subnav {
	float: left;
	width: 232px;
	background-position: top;
}

#subnav ul {
	list-style-type: none;
	margin: 0;
	padding: 10px 15px;
}

#subnav h1 {
	background-position: bottom;
	font-size: 15px;
	color: #FFF;
	margin: 0;
	padding: 6px 15px 15px;
}

#subnav ul li {
	padding-top: 7px;
	padding-bottom: 7px;
	color: #67880f;
	background-position: bottom;
}

#subnav ul li a {
	color: #67880f;
	padding-left: 15px;
	background-position: 0 center;
	font-weight: 700;
	display: block;
	padding-top: 7px;
	padding-bottom: 7px;
}

#subnav ul li a:hover {
	color: #FFF;
	background-color: #F60;
	background-position: 0 center;
	text-decoration: none;
}

#subnav ul li ul li {
	background: none;
	font-size: 11px;
	padding: 0;
}

#subnav ul li ul li a {
	font-weight: 400;
	background-image: none;
	padding: 2px 2px 2px 4px;
}

#subnav ul li ul li a:hover {
	color: #FFF;
	background-image: none;
}

#sub-content {
	float: left;
	border-top-width: 10px;
	border-top-style: solid;
	border-top-color: #7a9f15;
	padding-bottom: 30px;
}

#extra {
	background-color: #F60;
	color: #FFF;
	padding: 15px;
}

.table td {
	vertical-align: top;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #9BBF3E;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #9BBF3E;
}

.table {
	width: 628px;
	border-style: none;
}

.table ul {
	font-weight: 700;
	background-color: #9BBF3E;
	margin: 0;
	padding: 0;
}

.table li {
	list-style-type: none;
	font-weight: 400;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	font-size: 12px;
	color: #666;
	padding: 5px 20px;
	background-color: #FFFFFF;
}

.table h1 {
	font-size: 13px;
	font-weight: 700;
	color: #FFF;
	background-position: 5px 9px;
	margin: 0;
	padding: 5px 0 5px 20px;
}

.bigtable td {
	vertical-align: top;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #9BBF3E;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #9BBF3E;
	width: 165px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #9BBF3E;
}

.bigtable {
	border-style: none;
}

.bigtable ul {
	font-weight: 700;
	background-color: #9BBF3E;
	margin: -1px;
	padding: 0;
}

.bigtable li {
	list-style-type: none;
	font-weight: normal;
	font-size: 12px;
	color: #666;
	background-position: top;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	background-color: #FFFFFF;
}

.bigtable h1 {
	font-size: 13px;
	font-weight: 700;
	color: #FFF;
	background-position: 5px 9px;
	margin: 0;
	padding: 5px 0 5px 20px;
}

.subtle {
	font-size: 10px;
	color: #F60;
	text-transform: uppercase;
}

.extra {
	background-color: #EEF2E2;
	border-width: 1px;
	padding: 25px;
}

.extra p {
	text-align: center;
	font-size: 12px;
	color: #56710F;
	margin: 0;
	padding: 0;
}

/* Login */
#login {
	
}

#login ul {
	list-style-type: none;
}

#login  li {
	font-size: 10px;
	text-transform: uppercase;
	margin: 0px;
	padding: 0px 0px 5px;
}

.input {
	width: 220px;
	border: 1px solid #999999;
	color: #FF6600;
	padding: 3px;
}

.input:hover {
	color: #EEF2E2;
}

.button {
	background-color: #FF3300;
	border-style: none;
	color: #FFFFFF;
	display: block;
	font-size: 1em;
	font-weight: bold;
	padding: 6px;
}

.button:hover {
	background-color: #8EB71D;
}

#login fieldset {
	margin-top: 0px;
	padding: 10px 0px 28px 0px;
	width: 300px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 3px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #97BA39;
	border-right-color: #97BA39;
	border-bottom-color: #97BA39;
	border-left-color: #97BA39;
}

#login legend {
	font-weight: bold;
	padding: 10px;
	background-color: #FFFFFF;
	color: #FF3300;
}

li.left {
	display: inline;
	float: left;
	width: 205px;
	text-align: right;
	list-style-type: none;
}

.comments {
	width: 220px;
}

li.left a {
	text-decoration: underline;
	font-size: 9px;
}

li.right {
	float: right;
	width: 81px;
	list-style-image: none;
	list-style-type: none;
}

#bodysub {
	width: 860px;
	padding-right: 50px;
	padding-left: 50px;
}

.headshot {
	float: left;
	padding: 0px 20px 10px 0px;
}

ul#form {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 35px;
}

ul#form li {
	list-style: none;
	color: #336699;
}

.item {
	padding: 6px 0px 6px 0px;
}

.field {
	width: 300px;
	border: 1px solid #FF6600;
}

.message {
	width: 300px;
	height: 220px;
	border: 1px solid #FF3300;
}

.button {
	background-color: #FF6600;
	font-weight: bold;
	color: #FFFFFF;
}

ul#home-lists li {
	list-style: square;
	color: #336699;
	padding: 3px 0 3px 0;
}

ul#home-lists li a {
	font-size: 11px;
	color: #336699;
	font-weight: normal;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 0px;
	padding-left: 0px;
}

ul#home-lists li a:hover {
	text-decoration: none;
	color: #FF3300;
}

.date a {
	color: #FFFFFF;
	float: none;
}

#newsletter {
	
}

h4 {
	font-size: 21px;
	color: #336699;
	font-weight: normal;
}

ul#sign li a {
	color: #FFFFFF;
	font-size: 14px;
	background-color: #999999;
	float: left;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 35px;
}

ul#sign li a:hover {
	text-decoration: none;
	color: #E6F1C7;
}

/* Updates */
.left {
	float: left;
	width: 241px;
}

.right {
	float: right;
	width: 719px;
}

.container {
	padding-top: 40px;
}

ul#buttons {
	margin: 0;
	padding: 28px 0 0 0;
	list-style: none;
	background-position: top;
}

ul#buttons li {
	text-indent: -99999px;
	padding: 0px;
	margin: 0px;
	background: none;
}

ul#buttons li a {
	display: block;
	width: 241px;
	height: 60px;
	padding: 0px;
}

ul#buttons li#schedule a {
	background-position: left top;
}

ul#buttons li#schedule a:hover {
	background-position: left bottom;
}

ul#buttons li#demo a {
	background-position: left top;
}

ul#buttons li#demo a:hover {
	background-position: left bottom;
}

ul#buttons li#download a {
	background-position: left top;
}

ul#buttons li#download a:hover {
	background-position: left bottom;
}

ul#buttons-sub {
	margin: 0;
	padding: 28px 0 0 0;
	list-style: none;
	background-position: top;
	width: 232px;
}

ul#buttons-sub li {
	text-indent: -99999px;
	padding: 0px;
	margin: 0px;
	background: none;
}

ul#buttons-sub li a {
	display: block;
	width: 232px;
	height: 60px;
	padding: 0px;
}

ul#buttons-sub li#schedule a {
	background-position: left top;
}

ul#buttons-sub li#schedule a:hover {
	background-position: left bottom;
}

ul#buttons-sub li#demo a {
	background-position: left top;
}

ul#buttons-sub li#demo a:hover {
	background-position: left bottom;
}

ul#buttons-sub li#download a {
	background-position: left top;
}

ul#buttons-sub li#download a:hover {
	background-position: left bottom;
}

ul#resources {
	list-style: none;
}

ul#resources li {
	background-position: left top;
	padding: 10px 0 10px 30px;
}

ul#resources li a {
	text-decoration: none;
	color: #ff6600;
}

ul#resources li a:hover {
	text-decoration: underline;
	color: black;
}

.viewCenter {
	text-align: left;
	padding: 0 0 0 200px;
}

.viewCenter p {
	text-align: left;
}

.secBox {
	float: left;
}

.secBoxImg {
	float: left;
	padding: 5px;
	width: 200px;
	margin-top: 27px;
}

.secBoxCont {
	float: right;
	padding: 5px;
	width: 400px;
	margin-top: 20px;
}

.secBoxCont1 {
	float: right;
	padding: 5px;
	width: 400px;
	margin-top: 69px;
}

.sectionBox {
	float: left;
}

.sectionBoxImg {
	float: left;
	padding: 5px;
	width: 200px;
	height: 200px;
	display: table;
	text-align: right;
}

.sectionBoxImg a {
	display: table-cell;
	vertical-align: middle;
}

.sectionBoxCont {
	float: left;
	padding: 5px;
	width: 600px;
	height: auto;
	line-height: 18px;
}

.horLine {
	width: 100%;
	line-height: 28px;
	border-bottom: 1px solid #D6D6D6;
}