/*
  Default styles for node rendering according to node types
  ---------------------------------------------------------
*/ 

.fx-Page {
  margin: 4px;
  padding: 4px;
  background-color: #f2f2f2;
}

.fx-DockedPage {
  background-color: #ffffd8;
}

.fx-Composite {
	margin: 4px;
}

.fx-HTMLBlock {
  margin:4px;
}

.fx-ImageBlock {
	display:block;
}

.fx-TextDataSource{
  display:block;
  margin:4px;
}
.fx-ChoiceDataSource{
  display:block;
}

.fx-ActionLink {
  margin:4px;
  width:5em;
  display:block;
}

.fx-CompleteEntry {
  font-size: 12px;
  margin:4px;
  width:5em;
  padding: 2px;
  display: block;
}

.fx-PageTurner, .fx-PageBrowser {
  margin:4px;
  width:12em;
}

.fx-Html5Canvas {
  background-color: #ffffd8;
  border:1px solid black;
  display:block;
}
	
.fx-Itemizer, .fx-Observer, .fx-InfoSheet{
  margin:4px;
  width:12em;
}

/*
  Miscellaneous common style variations
  ---------------------------------------------------------
*/

.Slide {
  height: 60em;
  border-color: black;
  border-style: solid;
  border-width: 1px 2px 2px 1px;
  background: white;	
}
	
.No_border {
  border: none;
}
.Thin_border {
  border: 1px solid black;
}
.Thick_border {
  border: 2px solid black;
}

.Image_left {
  margin-left:0;
  margin-right:auto;
}
.Image_center {
  margin-left:auto;
  margin-right:auto;
}
.Image_right {
  margin-left:auto;
  margin-right:0;
}
  
.Text_left {
  text-align: left; 
}
.Text_center {
  text-align: center; 
}
.Text_right {
  text-align: right;  
}

.box1{
  width: 100%;
}
.box2{
  width: 75%;
}
.box3{
  width: 50%;
}
.buttonActive {
  background: #99ff00;
}
.roundedCorner {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

/* 
  EditableNode and NodePalette 
  ---------------------------------------------------------
*/

.EditableNode {
  background-color: #f2f2f2;
  border: 1px solid #b0b0b0;
  margin: 4px;
  padding:0;
}
.EditableNode_Page {
  border: none;
  margin: 1em;
}
.EditableNode_DockedPage {
}
.EditableNode-Selected {
  outline: 1px dashed white;
}
.EditableNode-Selected_Inner {
  outline: 1px dashed black;
}

.ColorBlock {
  width: 4em;
  height: 4em;
  margin: 0.4em;
  display: inline-block;
  border: 1px solid gray;
}
.ColorBlock .label {
  width:2em;
  font-size:75%;
  position: relative;
  left:14px;
  top:20px;
  cursor: default;
}
.ColorBlock-Small {
  width: 1.4em;
  height:1.4em;
  margin: 0.14em;
}
.ColorBlock-Small .label {
  font-size:55%;
  position: relative;
  left:1px;
  top:4px;
  cursor: default;
}

/*
  Assorted Design Widgets
  ---------------------------------------------------------
*/

.FormatControl {
  border: 1px solid gray;
}

.FormatControl .InternalPanel {
  margin: 1px;
  padding: 1px;
}

.FormatControl .InternalLabel {
  font-size:80%;
  margin-left: 4px;
  display: inline;
}

.FormatControl .InternalCheckBox {
  display: inline;
  position: relative;
  margin-left: 3px;
  top:3px;
}

.TooltipPopup {
 background:#ffffd8;
 border:1px solid black;
 padding:2px;
 font-size:90%;
}

.TooltipButton {
  width:14px;
  height:16px;
}

/* Left Bottom */
.recycleBin {
	margin:auto;
	position:relative;
  top:50px;
	text-align: center;
	width: 100px;
	height: 50px;
}

.recycleBin-engage {
	background-color: #FFA773; /* bright orange */
}

/* Overall FormEntry Editor Layout */
.formEntryPanel {
	width: 100%;
	height: auto;
}
.FormCanvas{
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 3em;
  padding-bottom: 20em;
}

.zoom{
  zoom: 0.85;
  -moz-transform: scale(0.85);
}

.menuBar {
  background: #f2f2f2;  
  margin-top: 0;
  padding: 2px;
  border-top: 1px inlet #ffffff;
  border-left: 1px inlet #ffffff;
  border-bottom: 1px solid black;
}
.menuBar_float_left {
  display:inline-block;
  /*float: left;*/
  margin-top: 2px;
  margin-left: 3px;
}
.menuBar_left_bar {
	margin-left: 6px;
	padding-left: 6px;
	border-left: 1px inset #999;
}
.menuBar_left_indent {
	margin-left: 6px;
}
.menuBar_float_right {
  display:inline-block;
  float: right;
  margin-top: 2px;
  margin-right: 3px;
}

.newLine {
  display: block;
  clear: left;
}

/*
  Standard Widget style overrides
  ---------------------------------------------------------
*/

.gwt-SplitLayoutPanel-HDragger, .gwt-SplitLayoutPanel-VDragger {
  background: white;
}
.gwt-SplitLayoutPanel-HDragger {
  cursor: col-resize;
}
.gwt-SplitLayoutPanel-VDragger {
  cursor: row-resize;
}

.gwt-Tree .gwt-TreeItem-selected {
  background: #adcce7;
  border: 1px solid #88a4d6;
}

.gwt-StackLayoutPanel .gwt-StackLayoutPanelContent {
  border-style: none;
  padding: 2px 2px 10px 5px;
} 

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
  border-color: #92c1f0;
  border-style: solid;
  border-width: 3px 2px 2px;
  overflow: hidden;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
}

.gwt-DialogBox .Caption {
  background: #88a4d6 url(images/gradient_bg_dark.png) repeat-x 0px -20px;
  padding: 4px 4px 4px 8px;
  border-top: 3px solid #888;
  border-right: 2px solid #888;
  border-bottom: 1px solid #888;
  border-left: 2px solid #888;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  
  -moz-border-radius: 8px 8px 0px 0px;
  -webkit-border-radius: 8px 8px 0px 0px;
  -khtml-border-radius: 8px 8px 0px 0px;
  border-radius: 8px 8px 0px 0px;
}
.gwt-DialogBox .dialogMiddleCenter {
  border-right: 2px solid #888;
  border-bottom: 2px solid #888;
  border-left: 2px solid #888;
}
.gwt-DialogBox .dialogTopLeftInner {
  width: 0px;
  height: 0px;
}
.gwt-DialogBox .dialogTopRightInner {
  width: 0px;
  height: 0px;
}
.gwt-DialogBox .dialogBottomLeftInner {
  width: 0px;
  height: 0px;
}
.gwt-DialogBox .dialogBottomRightInner {
  width: 0px;
  height: 0px;
}

.gwt-Anchor {
}
.gwt-Anchor:hover 
{
  color: #FF00FF;
  cursor: pointer;
  text-decoration:underline;      
}

.gwt-SliderBar-shell {
  border: 1px solid black;
  background-color: #efebe7;
  height: 34pt;
  margin: 2px;
}
.gwt-SliderBar-shell .gwt-SliderBar-line {
  border: 1px solid black;
  background-color: white;
  height: 3px;
  width: 95%;
  top: 24pt;
  overflow: hidden;
}
.gwt-SliderBar-shell .gwt-SliderBar-line-sliding {
  background-color: red; /*#DDDDDD;*/
  cursor: pointer;
}
.gwt-SliderBar-shell .gwt-SliderBar-knob {
  top: 16pt;
  width: 11px;
  height: 21px;
  z-index: 1;
  cursor: pointer;
}
.gwt-SliderBar-shell .gwt-SliderBar-tick {
  top: 14pt;
  width: 1px;
  height: 6pt;
  background: black;
  overflow: hidden;
}
.gwt-SliderBar-shell .gwt-SliderBar-label {
  top: 2pt;
  font-size: 80%;
}

.gwt-DisclosurePanel .content {
  border-left: 2px solid #999;
  padding: 4px 0px 4px 16px;
  margin-left: 7px;
}
