@CHARSET "UTF-8";

@external .dragdrop-dropTarget;
@external .dragdrop-dropTarget-engage;
@external .dragdrop-flow-panel-positioner;
@external .dragdrop-positioner;
@external .dragdrop-boundary;
@external .dragdrop-handle;
@external .dragdrop-draggable;
@external .dragdrop-selected;
@external .dragdrop-dragging;
@external .dragdrop-proxy;
@external .dragdrop-selected 
@external .dragdrop-movable-panel;
	
HTML { /* Workaround for GWT issue 1932 */
	margin: 0px !important;
	border: none !important;
}

.dragdrop-boundary {
}

.dragdrop-dropTarget-engage {
}

.dragdrop-dropTarget {
}

.dragdrop-handle {
	cursor: pointer; /*move*/
	user-select: none;
	\-khtml-user-select: none;
	\-moz-user-select: none;
}

.dragdrop-draggable {
	zoom: 1; /* IE gain hasLayout */
}

.dragdrop-dragging {
	zoom: normal; /* remove artifacts */
}

.dragdrop-positioner {
	border: 1px dashed #1E90FF; /* blue */
	margin: 4px !important;
	zoom: 1; /* IE gain hasLayout */
	z-index: 100;
}

.dragdrop-flow-panel-positioner {
	color: #1E90FF; /* blue */
	display: inline;
	text-align: center;
	vertical-align: middle;
}

.dragdrop-proxy {
	background-color: #77AAFF; /* light blue */
}

.dragdrop-selected,.dragdrop-dragging,.dragdrop-proxy {
	filter: alpha(opacity \= 30);
	opacity: 0.3;
}

.dragdrop-movable-panel {
	z-index: 200;
	margin: 0px !important;
	border: none !important;
}